.title {
    text-align: center;
    color:seashell;
}

.background {
    background-color: rgb(155, 14, 14);
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
      }
  }